.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 800px;
    text-align: center;
}

h1 {
    text-align: center;
}

.display {
    background-color: aqua;
    width: 80vw;
    height: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreDisplay {
    background-color: white;
    padding: 10px;
    font-size: 18px;
}

.start {
    width: 200px;
    height: 50px;
    font-size: 16px;
    border: 1px solid black;
    cursor: pointer;
}

.buttons {
    background-color: black;
    width: 80vw;
    height: 80vw;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.button-green {
    background-color: rgb(37, 112, 37);
    width: 45%;
    height: 45%;
}

.button-red {
    background-color: rgb(150, 59, 59);
    width: 45%;
    height: 45%;
}

.button-blue {
    background-color: rgb(49, 49, 131);
    width: 45%;
    height: 45%;
}

.button-yellow {
    background-color: rgb(161, 161, 48);
    width: 45%;
    height: 45%;
}

.shine-green {
    background-color: #3AFA20;
    width: 45%;
    height: 45%;
}

.shine-red {
    background-color: #FA1B00;
    width: 45%;
    height: 45%;
}

.shine-yellow {
    background-color: #FFF821;
    width: 45%;
    height: 45%;
}

.shine-blue {
    background-color: #0400ff;
    width: 45%;
    height: 45%;
}